nav {
    background-color: #1AD274;

}

nav h1{
    color: #ffffff !important;
    font-size: 36px;
    font-weight: 900;
}

nav li{
    
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 900;
}